/* CAPTCHA Plugin */

#captcha-form {
  padding:10px 0px 10px 0px;
}
#captcha-image{
  margin-right:25px;
}
.captcha_logview {
  font-family:"Courier New", Courier, monospace;
  margin:5px 15px;
}
.captcha_admin {
  padding:0px 10px;
}
.captcha_admin_body {
  background: #EEE;
  padding:5px 15px;
}
/*
     FILE ARCHIVED ON 08:08:16 Mar 14, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:09:42 Nov 25, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 791.782 (3)
  PetaboxLoader3.datanode: 871.732 (5)
  CDXLines.iter: 22.422 (3)
  exclusion.robots.policy: 0.21
  exclusion.robots: 0.228
  load_resource: 672.056 (2)
  captures_list: 936.649
  RedisCDXSource: 117.861
  esindex: 0.012
  PetaboxLoader3.resolve: 381.36 (2)
*/