body #header .section a#logo{margin:0 auto;width:100%;text-align:center;}img{max-width:100% !important;}body #header .region-navigation{position:relative;margin:0 auto;text-align:center;float:none;padding:0;}body #header .region-navigation .block-menu{height:auto;}body #header .region-navigation .content ul.menu{background:none;padding:20px;float:left;margin:0px;min-width:100%;text-align:left;position:relative;top:auto;left:auto;}body #header .region-navigation .content{clear:both;overflow:hidden;}body #header .region-navigation .content li.active,body #header .region-navigation .content li.active-trail{}body #header .region-navigation .content li a{height:30px;line-height:30px;margin:0;}body #header .region-navigation .content li a.active,body #header .region-navigation .content li a.active-trail{border:none;background:none;}body #header .region-navigation .content a:hover{border:none;background:none;}body #main .breadcrumb{padding-left:10px;width:100%;}#block-user-login .item-list ul li{display:none;}body #sidebar-wrapper{float:none;margin:0 auto;padding-bottom:0px;background:none;width:100%;}body #sidebar-wrapper .region-sidebar{padding-right:0px;padding-left:0px;padding-top:0px;}body #sidebar-wrapper .region-sidebar .block{margin-bottom:0px;}body #content{clear:both;}body #content .section{padding:0 10px 0 20px;}body #footer-section .section{width:100%;background:none;}body embed,body iframe{width:280px;height:158px;}

/*
     FILE ARCHIVED ON 02:49:34 Apr 16, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:57:16 Nov 25, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 397.34
  exclusion.robots: 0.182
  exclusion.robots.policy: 0.166
  RedisCDXSource: 20.214
  esindex: 0.01
  LoadShardBlock: 354.169 (3)
  PetaboxLoader3.datanode: 120.341 (4)
  CDXLines.iter: 19.487 (3)
  load_resource: 323.845
  PetaboxLoader3.resolve: 254.763
*/