body #header .region-navigation .content ul.menu{text-align:left;margin-left:360px;width:auto;}

/*
     FILE ARCHIVED ON 02:37:57 Apr 16, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:57:16 Nov 25, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.017
  exclusion.robots.policy: 0.185
  PetaboxLoader3.datanode: 294.972 (4)
  LoadShardBlock: 330.042 (3)
  PetaboxLoader3.resolve: 110.828 (2)
  RedisCDXSource: 13.481
  captures_list: 372.721
  exclusion.robots: 0.201
  CDXLines.iter: 24.2 (3)
  load_resource: 106.961
*/